.app-container {
  padding-top: 50px;
  text-align: center;
}

.app-title {
  font-size: 2.5em;
  /* margin-bottom: 30px; */
  color: #343a40;
  font-weight: bold;
}

.upload-form {
  margin: 20px;
  margin-bottom: 70px;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upload-form .form-group {
  margin-bottom: 15px;
}


.button-container {
  display: flex;
  justify-content: center; /* Centers the buttons horizontally */
  align-items: center;    /* Aligns buttons vertically */
  gap: 20px;              /* Adds space between the buttons */
  margin-top: 20px;       /* Adds some margin at the top */
}

.btn {
  font-size: 1.2em;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  border: none;
}

 .generate-button {
  background-color: #07db00;
}

.generate-button:hover{
  background-color: #07db00;
  color: white;
}

.generate-button:disabled{
  background-color: #07db0083;
  color: white;
}

.generate-button:active{
  background-color: #07db00;
}

.btn:hover {
  opacity: 0.9;
}

.tooltip {
  margin-left: -10px; /* Adjust this value to move the tooltip closer or farther away horizontally */
  margin-top: 5px; /* Adjust this value to move the tooltip closer or farther away vertically */
}

.tooltip .arrow::before {
  margin-left: -5px; /* Fine-tune the arrow position */
}

.form-control::placeholder{
  color: #90949C;
}
.form-control:focus::placeholder{
    color: #90949c8f;
}
.form-control:focus{
  box-shadow: none;
}
/* Spinner Styles */
.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.spinner-content {
  position: relative;
}

.progress-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-text {
  margin-top: 20px;
  font-size: 1.2em;
  /* color: rgb(157, 157, 157); */
  color: #343a40;
}

svg {
  display: block;
  margin: auto;
}

svg circle {
  stroke: rgb(19, 16, 215);
}

.circle {
  transform-origin: center;
}

#arc1 {
  stroke-dasharray: 30;
  stroke-dashoffset: 18;
  animation: 10s -2s rota infinite linear;
}

#arc3 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: 16s -1s rota infinite linear;
}

#arc4 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: 6s -1s rota infinite linear reverse;
}

#arc5 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: 4s 0s rota infinite linear;
}

#arc6 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: 8s 1s rota infinite linear alternate;
}

#arc7 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: 4s 1s rota infinite linear reverse;
}

text {
  fill: #212121;
  font: bold 24px sans-serif;
}

@keyframes rota {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.custom-progress-bar {
  height: 30px;
  width: 100px;
  background-color: #e9ecef;
  border-radius: 10px;
  overflow: hidden;
}

.custom-progress-bar .progress-bar {
  background-color: #007bff;
  height: 100%;
  transition: width 0.6s ease;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  color: white;
}

.error-message {
  color: red;
  width: 100%;  /* Ensure it takes up the full width of the form */
  word-wrap: break-word;  /* Break long words to wrap within the container */
  overflow-wrap: break-word; /* Ensure the text wraps to a new line */
  margin-top: 10px;
}